<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static' ,filename='css/styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thx a lot</title>
</head>
<body>
    <div class="thx-wrapper">
        <div class="animated-log">
            <a href="{{ url_for('presentationDays4innovation')}}"><img src="static/images/logoLB.gif" alt="LB animated logo"></a>
            
        </div>
        <h1>
            Merci pour ce feedback...
        </h1>
        <div class="presentateur">Rendez vous à l'innovation day</div>
    </div>
</body>
</html>